ai2thor>=0+8524eadda94df0ab2dbb2ef5a577e4d37c712897
colorama>=0.4.6
compress_json>=1.1.1
compress_pickle>=2.1.0
fastapi>=0.135.1
langchain_core>=1.2.17
matplotlib>=3.10.8
moviepy>=2.2.1
numpy>=2.4.3
openai>=2.26.0
Pillow>=12.1.1
pydantic>=2.12.5
python-dotenv>=1.2.2
sentence_transformers>=5.2.2
Shapely>=2.1.2
SQLAlchemy>=2.0.48
torch>=2.10.0
tqdm>=4.67.1
transformers>=5.0.0
trimesh>=4.11.1
